<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <p class="search-term">Search term: {{search_term or 'None Specified'}}</p>

<div class="search">
    {% for restaurant in restaurants %}


    <main>    
        
        <p class="restaurant-name"> {{ restaurant.get('name') }}</p>

        <img src="{{restaurant.get('image_url') }}" />

        <p class="restaurant_location"> {{ restaurant.get('display_address') }} </p>

       
        
        <table>
            <tr>
                
                <td> {{ restaurant.get('rating') }} stars from {{restaurant.get('review_count')}} reviews </td>
            </tr>
        </table>
    
    </main>



    {% endfor %}
</div>

</body>
</html>

